@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  padding: 2rem;
}

.btn {
  color: white;
  padding-inline: 2rem;
}
.badge {
  border-radius: 4px;
}

.card {
  border-top-color: 1px solid rgba(128, 128, 128, 0.487);
}
